<!--<header class="mui-appbar mui&#45;&#45;z1">-->
  <!--<div class="mui-container">-->
    <!--<table width="100%">-->
      <!--<tr class="mui&#45;&#45;appbar-height">-->
        <!--<td class="mui&#45;&#45;text-title">DevLogger</td>-->
        <!--<td align="right">-->

        <!--</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</header>-->
<div id="content-wrapper" class="mui--text-center">
  <div class="mui--appbar-height"></div>
  <br>
  <br>
  <div class="mui--text-display3">DevLogger</div>
  <br>
  <br>
  <logs></logs>
</div>
